body {
    background-image: url(https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?cs=srgb&dl=pexels-alex-conchillos-3745234.jpg&fm=jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
}

div {

    background-color: antiquewhite;
    background-size:contain;
}