body {
    background-image: url(https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4M2JhdGNoMi0wMDkteC5qcGc.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}